<div class="container" style="margin-top: 20px;">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-3 col-sm-offset-2">
			<input type="text" class="form-control" [(ngModel)]="term" (keyup)="searchContact()" placeholder="Search contact name...">
		</div>
		<a class="btn btn-success" routerLink="/contact/new">New contact</a>			
	</div>

	<div class="row">	
		<div class="col-sm-8 col-sm-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
			    	<h3 class="panel-title">List of contacts</h3>
			  	</div>
			  	<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-center" width="5%">No</th>
								<th width="30%">Name</th>
								<th width="30%">Email</th>
								<th width="15%">Phone</th>
								<th width="20%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="contacts.length === 0">
								<td colspan="5">No contacts</td>
							</tr>

							<tr *ngFor="let contact of contacts">
								<td class="text-center">{{contact.id}}</td>
								<td>{{contact.name}}</td>
								<td>{{contact.email}}</td>
								<td>{{contact.phone}}</td>
								<td>
									<a class="btn btn-primary" routerLink="/contact/{{contact.id}}">Edit</a>
									<a class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>